<div class="logout"><button class="btn btn-default" ng-click="logout()">Wyloguj</button></div>
<!--<table class="table table-bordered table-striped">-->
    <!--<tr>-->
        <!--<th ng-repeat="kategory in kategories"><a ng-click="kategorie(kategory)">{{kategory.nazwa}}</a></th>-->
    <!--</tr>-->
<!--</table>-->
<div class="mytablekategorie">
    <table class="table">

    <thead>
    <tr >
        <th>Pytanie</th>
    </tr>
    </thead>
    <tr ng-repeat="pytanie in pytania">
        <td>{{pytanie.pytanie}}</td>
        <td class="el"><button ng-click="edytujPytanie(pytanie)">Edytuj</button><button ng-click="usunPytanie(pytanie)">Usuń</button><button ng-click="openModal(pytanie)">Pokaż odpowiedzi</button></td>
    </tr>
</table>
    <button ng-click="dodajPytanie()">Dodaj pytanie</button>
    <ul class="nav nav-pills nav-justified table-bordered"><li><a href="#!wybKategorie">Wróć do wyboru kategorii</a></li> </ul>
</div>